@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Typography */
  html {
    font-family: theme("fontFamily.primary");
  }

  /* Base elements */
  p,
  ul,
  li,
  form,
  input,
  textarea,
  select,
  button {
    @apply font-primary;
  }

  /* Heading System */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-secondary;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }

  /* Themes */
  html.dark {
    @apply bg-body-dark text-text-white transition-colors duration-200;
  }

  html.light {
    @apply bg-body-light text-text-black transition-colors duration-200;
  }
}

/* Layout */
body {
  @apply grid min-h-screen place-items-center;
}

/* btns */
@layer components {
  .btn {
    @apply inline-flex min-w-[120px] w-fit items-center justify-center 
               rounded-[10px]  px-4 py-2
               font-bold text-center
               transition-colors duration-200
               disabled:opacity-50 disabled:cursor-not-allowed;
  }
  .btn-primary {
    @apply !rounded-[8px] !text-center
     bg-green-2 text-white hover:bg-green-3 focus:ring-2
      focus:ring-green-2 focus:ring-offset-2 !px-4 !py-2;
  }
  .btn-secondary {
    @apply !rounded-[8px] !text-center
     bg-white text-green-2 border-2 border-green-2
      hover:bg-green-2 hover:text-white focus:ring-2
      focus:ring-green-2 focus:ring-offset-2 !px-4 !py-2;
  }
}
